.App {
  text-align: center;
}

.App-logo {
  margin: 10px; 
  height: 100px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #23211e;
  font-size: calc(5px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1{
  margin: 0;
  padding-bottom: 30px;
}
.beerList{
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
}

.beerList a{
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

.beerList a:hover{
  background-color: #6b6b6b;
}
.card img{
  height: 400px;
}

.detailcard img{
  float: left;
  height: 350px;
  margin: 0px 100px 100px 100px;
}