@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');

.a{
  transition: all 0.5s;
}

.mt{
  margin-top: 30px;
}

h2{
  margin: 0;
}

h3{
  font-size: 40px;
}
p,h1,h2,h3,h4,label,li,ul{
  color: white;
}

.material-icons{
  font-size:15px;
}
.error{
  padding: 50px;
  color: red;
}

.App {
  text-align: center;
  transition: all 0.3s;
}
body{
  background-color: #23211e;
  font-family: 'Oswald', sans-serif;
}

.App-logo {
  margin: 10px; 
  height: 100px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 2s linear;
  }
}

#head {
  transition: background-color 0.3s ease, padding 0.3s ease; /* Ajusta la duración según tus preferencias */
}

.App-header {
  display: flex;
  padding: 20px;
  background-color: #23211e;
  font-size: calc(5px + 2vmin);
  color: white;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: #23211ec5; /* Cambia el color de fondo según tus preferencias */
  padding: 10px 0; /* Ajusta el relleno según tus preferencias */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.low{
  margin-top: 100px;
}

.sticky + .content {
  padding-top: 102px;
}

.logo{
  padding-left: 130px;
  width: 230px;
}

.logo:hover{
  width: 231px;
  opacity: 0.8;
}

.link{
  max-width: 15%;
  display: block;
}

.search{
  background-color: #373430; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

#searchDiv{
  width: 100%;
  margin: auto;
}

.search:hover{
  background-color: #5d5852; 
}

.searchBar{
  width: 20%;
  background-color: #373430; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor:text;
}

.searchBar:hover{
  width: 30%;
  background-color: #373430;
}

.App-link {
  color: #61dafb;
}

.col{
  background-color:#23211e;
}

.wi:hover{
  width: 21%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.topDiv{
  padding: 15px;
  background-color: #d6993f;
}
.topDiv h2{
  color: #23211e;
}

h1{
  margin: 0;
  padding-bottom: 30px;
}
.App{
  background-color: #333;

}
.beerList{
  background-color: #333;
  text-align: center;
}

.beerList h3{
  margin-top: 40px;
}

.beerList a{
  display: block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

.beerList a:hover{
  background-color: #6b6b6b;
}

.beersDiv{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.card {
  max-width: 100%;
  overflow: hidden;
}

.cardtext {
  overflow: hidden;
  text-overflow: ellipsis;
}

.card p,.card h4{
  color: rgb(158, 158, 158);
}

.card:hover p,.card:hover h4{
  color: #d6993f;
}

.orange{
  color: #d6993f;
}

.card img{
  height: 350px;
}
.detailcard{
  display: flex;
}
.detailcard img{
  height: 400px;
  margin: 0px 100px 0 100px;
}

.content{
  padding: 50px;
}

footer{
  background-color: #23211e;
  justify-content: center;
  padding: 25px;
}

.button{
  width: 20%;
  background-color: #23211e; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.button:hover{
  background-color: #645f58;
  width: 25%;
}

.pagBut{
  width: 8%;
  background-color: #23211e; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
.active{
  background-color: #8d7742; 
}

.pagBut:hover{
  background-color: #8b836a; 
  
}

.detailPage{
  text-align: left;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color:#23211e;
  min-width: 300px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.linkcol{
  color: #c89d28;
}
